#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "your_ssid"
#define WIFI_PASSWORD "your_password"

#define MQTT_SERVER "your_mqtt_server"
#define MQTT_PORT 1883
#define MQTT_USER "your_mqtt_user"
#define MQTT_PASSWORD "your_mqtt_password"
#define MQTT_CLIENT_ID "your_mqtt_client_id"
#define DEVICE_NAME "your_device_name"
#define LOCATION "your_location"

#endif // SECRETS_H
